body {
    margin: 0; 
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    background-color: #9CC5A1;
    
}

.menu{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #49A078;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 1.5rem;
}