body {
    margin: 0; 
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    background-color: #9CC5A1;
}

a{
    text-decoration: none;
}

.cta-link {
    background-color: #DCE1DE;
    color: #1F2421;
    padding: 0.625rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;

}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4.5rem;
    align-items: center;
    background-color: #49A078;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2.5rem;
}

nav {

    padding: 7rem;
}

.sesion {
    max-width: 1205px;
    display: flex;
    justify-content: center;

}

.user, .password {
    padding: 9px 15px;
}